[Desktop Entry]
Name=Jude
GenericName=UML Modeling Tool
GenericName[pl]=Narzędzie do modelowania UML
Comment=Jude
Comment[pl]=Jude
Icon=jude
Exec=jude
Terminal=false
MultipleArgs=false
Type=Application
Categories=Development;ProjectManagement;
MimeType=application/x-jude;
# vi: encoding=utf-8
