[Desktop Entry]
Encoding=UTF-8
Name=Jude
Comment=Jude
Comment[pl]=Jude
Icon=jude.png
Exec=jude
Terminal=false
MultipleArgs=false
Type=Application
Categories=Development;ProjectManagement;
# vi: encoding=utf-8
