[Desktop Entry]
Encoding=UTF-8
Name=Jude
GenericName=UML Modeling Tool
Comment=Jude
Comment[pl]=Jude
Icon=jude.png
Exec=jude
Terminal=false
MultipleArgs=false
Type=Application
Categories=Development;ProjectManagement;
MimeType=application/x-jude;
# vi: encoding=utf-8
